body {
    background: white;
    color: #006aa8;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:1em;
}
header,
section,
aside,
footer {
    margin: 0 1.5% 24px 1.5%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.active {
    background-color: #4caf50;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #6ccc50;
}
ul img {
    float: left;
    right:20px;
    width: 4em;
    height: 4em;
    padding:5px;
}
h1 {
    font-size:1.5em;
    position:relative;
    right:10px;
    left:20px;
    color:white;
}
section {
    margin:25px;
    float: left;
    width: 30%;
}
section li {
    float:left;
    background-color: white;
}
aside {
    margin: 25px;
    float: right;
    width: 60%;
}
.table-of-contents {
  float: right;
  width: 40%;
  background: #eee;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}