<!DOCTYPE html>
<html>
    <head>
        <title>Titration Simulator</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='icon1.png') }}">
    </head>
    <body>
        <ul>
            <li><img src="{{ url_for('static',filename='muhn2.png') }}" /></li>
            <li><h1>Acid/Base Titration Simulator</h1></li>
            <li style="float:right"><a class="active" href="/Titration-Simulator/help">Help</a></li>
            <li style="float:right"><a href="">About</a></li>
            <li style="float:right"><a href="/Titration-Simulator">Home</a></li>
        </ul>
        <table>
            <tr><td>Author:</td><td>muhn</td></tr>
            <tr><td>Contact:</td><td>muhn@zhaw.ch</td></tr>
            <tr><td>Version:</td><td>1.2</td></tr>
            <tr><td>Last modified:</td><td>2017-04-19</td></tr>
        </table>
    </body>
</html>