<!DOCTYPE html>
<html>
    <head>
        <title>Titration Simulator</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='icon1.png') }}">
    </head>
    <body>
        <ul>
            <li><img src="{{ url_for('static',filename='muhn2.png') }}" /></li>
            <li><h1>Acid/Base Titration Simulator</h1></li>
            <li style="float:right"><a class="active" href="">Help</a></li>
            <li style="float:right"><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="/Titration-Simulator">Home</a></li>
        </ul>
        <footer>
            <h2>Explanation:</h2><br>
                 With this application it is possible to simulate a
                 titration of any mixture of acids and bases. The
                 concentrations can be entered comma separated as it is
                 shown with the default values. To enter pKs values,
                 you have to write them comma separated between
                 brackets [...]. A species can have as many pKs values
                 as needed. If you have only bases or only acids, enter for the
                 opposit "0" as a concentration and [0] as pKs value.
                 pKs(Tit) is the pKs value of the titration agent. So if you
                 use Sodiumhydroxide to titrate something just add [14].
                 To execute the simulation enter the compute
                 button.
        </footer>
    </body>
</html>