<!DOCTYPE html>
<html>
    <head>
        <title>Titration Simulator</title>
        <meta charset="utf-8">
        {{ result[0]|safe }}
        {{ result[1]|safe }}
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <link rel="icon" href="static/icon1.png">
    </head>
    <body>
        <ul>
            <li><img src="static/muhn2.png" /></li>
            <li><h1>Acid/Base Titration Simulator</h1></li>
            <li style="float:right"><a class="active" href="Titration-Simulator/help">Help</a></li>
            <li style="float:right"><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="">Home</a></li>
        </ul>
        <section>
            <form method=post action="">
                {% for field in form %}
                <table>
                {% if field.name == "v_Ac" %}
                <tr><td><i>V</i>(Acids) [L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "c_Ac" %}
                <tr><td><i>c</i>(Acids) [mol/L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "pKs_Ac" %}
                <tr><td>pKs(Acids) </td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "v_B" %}
                <hr>
                <tr><td><i>V</i>(Bases) [L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "c_B" %}
                <tr><td><i>c</i>(Bases) [mol/L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "pKs_B" %}
                <tr><td>pKs(Bases) </td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "v_sample" %}
                <hr>
                <tr><td><i>V</i>(Total) [L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "v_Tit" %}
                <tr><td><i>V</i>(Titrant) [L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "c_Tit" %}
                <hr>
                <tr><td><i>c</i>(Titrant) [mol/L]</td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "pKs_Tit" %}
                <tr><td>pKs(Titrant) </td><td>{{ field(size=20) }}</td></tr>
                {% elif field.name == "erase" %}
                <hr>
                <tr><td>New Figure ?</td><td>{{ field(size=20) }}</td></td>
                </table>
                <hr>
                {% endif %}
                {% endfor %}
                <input type=submit value=Compute>
            </form>
        </section>

        <aside>
            {% if result != None %}
                {{ result[2]|safe }}
            {% endif %}
        </aside>
    </body>
</html>
